@use "sass:math";
@use "./function" as *; //함수

// html{
//   scroll-snap-type: y mandatory;
// }
:root{
  --g-border-radius : 6px;
  --g-border-radius-lg : 8px;
  --g-border-radius-sm : 4px;
  // 컬러
  --color-white: #fff;
  --section1-top: -94px; 
  --gap: #{em(96)};
  @each $name , $color in $colorMain {
    --color-#{$name} :#{$color};
  }
  @each $name , $color in $colores {
    --color-#{$name} :#{$color};
  }

 
  --border-radius-4xl : 24px;
  --border-radius-2xl : 16px;
}

.ant-app{
  color: var(--color-text-base);
}
.ant-btn {box-shadow: none !important;}
// 버튼
.btn,a.btn{
  --btn-primary-color: #fff;
  --btn-danger-color: #fff;
  --btn-border-color-disabled: #d9d9d9;
  --btn-default-ghost-color: #ffffff;
  --btn-ghost-bg: transparent;
  --btn-default-ghost-border-color: #ffffff;

// action 효과
  --btn-default-color: rgba(0, 0, 0, 0.88);
  --btn-default-bg: #ffffff;
  --btn-default-border-color: #d9d9d9;
  --btn-default-border-color-disabled: #d9d9d9;
  --btn-default-hover-bg: #ffffff;
  --btn-default-hover-color: #BB3A0B;
  --btn-default-hover-border-color: #BB3A0B;
  --btn-default-active-bg: #ffffff;
  --btn-default-active-color: #0958d9;
  --btn-default-active-border-color: #0958d9;
  --btn-solid-text-color: #fff;

// height
  --btn-content-height : 32px;
  --btn-content-height-lg : 40px;
  --btn-content-height-sm : 24px;

// content
  --btn-font-weight: 400;

  --btn-content-font-size: em(14);
  --btn-content-font-size-sm: 14px;
  --btn-content-font-size-lg: 16px;
  --btn-content-line-height: 1.5714285714285714;
  --btn-content-line-height-sm: 1.5714285714285714;
  --btn-content-line-height-lg: 1.5;

  --btn-link-hover-bg: transparent;
  --btn-text-text-color: rgba(0, 0, 0, 0.88);
  --btn-text-text-hover-color: rgba(0, 0, 0, 0.88);
  --btn-text-text-active-color: rgba(0, 0, 0, 0.88);
  --btn-text-hover-bg: rgba(0, 0, 0, 0.04);

// 패딩
  --btn-padding-block: 4px;
  --btn-padding-block-sm: 0px;
  --btn-padding-block-lg: 7px;
  --btn-padding-inline: 15px;
  --btn-padding-inline-lg: 15px;
  --btn-padding-inline-sm: 7px;

  &{
    @include flex-center('inline', 'wrap'); 
    border: 1px solid var(--btn-border-color-disabled);
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    font-size: var(--btn-content-font-size);
    font-weight: var(--btn-font-weight);
    border-radius: var(--g-border-radius);
    color: var(--btn-default-color);
    box-sizing: border-box;
    gap: 4px;
    flex: 0 0 auto;
    min-width: fit-content;
    &:hover{
      color: var(--btn-default-hover-color) ;
      border-color: currentColor;
    }

    &[height=small] {
      padding:0 var(--btn-padding-inline-sm);
      height: var(--btn-content-height-sm);
      border-radius: var(--g-border-radius-sm);
      font-size: 14px;
    }
    &[height=large] {
      padding:0 var(--btn-padding-inline-lg);
      height: var(--btn-content-height-lg);
      border-radius: var(--g-border-radius-lg);
      font-size: var(--btn-content-font-size-lg);
    }
    &[variant=dashed]{
      border-style: dashed;
    }
    &:focus-visible {
      outline: 3px solid map-get($colores, blue-3 );
    }
  }

  &:not(:disabled) {
    
    // 컬러 색상
    @each $name , $color in $colorMain {
      
      &[color=#{$name}] {
        color: #{$color};
        border-color: #{$color};

        &:active{
          color: map-get($colores,#{$name}-8) ;
          border-color: map-get($colores,#{$name}-8) ;
        }
        &:hover{
          color: map-get($colores,#{$name}-4) ;
          border-color: map-get($colores,#{$name}-4) ;
        }

        &:where([variant=link],[variant=dashed]):hover{
          opacity: 0.8;
        }

        &[variant=text]:hover{
          background-color: map-get($colores,#{$name}-1);
        }

        &[variant=filled] {
          color:#{$color};
          background-color: map-get($colores,#{$name}-1 );
          border-color: map-get($colores,#{$name}-1 );
        }
        &[variant=solid]{
          background-color: #{$color};
          color: var(--color-white);
        }
      }
    } //color each

    
    &[variant=solid]{
      background-color: var(--btn-default-color);
      color: var(--color-white);
      border-color: transparent !important;

      &:hover{ background:rgba(0, 0, 0,0.75);}
      &:active {background:rgba(0, 0, 0, 0.95);}
      
      
      &[color=purple]:hover{background-color: map-get($colores , purple-5);}
      &[color=cyan]:hover{background-color: map-get($colores , cyan-5);}
      &[color=green]:hover{background-color: map-get($colores , green-5);}
      &[color=magenta]:hover{background-color: map-get($colores , magenta-5);}
      &[color=danger]:hover{background-color: map-get($colores , red-4);}
      &[color=red]:hover{background-color: map-get($colores , red-5);}
      &[color=pink]:hover{background-color: map-get($colores , pink-5);}
      &[color=orange]:hover{background-color: map-get($colores , orange-5);}
      &[color=yellow]:hover{background-color: map-get($colores , yellow-5);}
      &[color=volcano]:hover{background-color: map-get($colores , volcano-5);}
      &[color=geekblue]:hover{background-color: map-get($colores , geekblue-5);}
      &[color=gold]:hover{background-color: map-get($colores , gold-5);}
      &[color=lime]:hover{background-color: map-get($colores , lime-5);}
      &[color=primary]:hover{background-color: map-get($colores , primary-5);}
     
      &[color=purple]:active{background-color: map-get($colores , purple-7);}
      &[color=cyan]:active{background-color: map-get($colores ,   cyan-7);}
      &[color=green]:active{background-color: map-get($colores , green-7);}
      &[color=magenta]:active{background-color: map-get($colores , magenta-7);}
      &[color=danger]:active{background-color: map-get($colores , red-7);}
      &[color=red]:active{background-color: map-get($colores , red-7);}
      &[color=pink]:active{background-color: map-get($colores , pink-7);}
      &[color=orange]:active{background-color: map-get($colores , orange-7);}
      &[color=yellow]:active{background-color: map-get($colores , yellow-7);}
      &[color=volcano]:active{background-color: map-get($colores , volcano-7);}
      &[color=geekblue]:active{background-color: map-get($colores , geekblue-7);}
      &[color=gold]:active{background-color: map-get($colores , gold-7);}
      &[color=lime]:active{background-color: map-get($colores , lime-7);}
      &[color=primary]:active{background-color:#BB3A0B;}
    }

    &[variant=filled]{
      box-shadow: none;
      background-color: #f6f6f6;
      color: var(--btn-default-color);
      border-color: transparent;
      
      &:hover{background:rgba(0, 0, 0,0.06);}
      &:active {background:rgba(0, 0, 0, 0.15);}

      &[color=purple]:hover{background-color: map-get($colores , purple-2);}
      &[color=cyan]:hover{background-color: map-get($colores , cyan-2);}
      &[color=green]:hover{background-color: map-get($colores , green-2);}
      &[color=magenta]:hover{background-color: map-get($colores , magenta-2);}
      &[color=danger]:hover{background-color: map-get($colores , red-2);}
      &[color=red]:hover{background-color: map-get($colores , red-2);}
      &[color=pink]:hover{background-color: map-get($colores , pink-2);}
      &[color=orange]:hover{background-color: map-get($colores , orange-2);}
      &[color=yellow]:hover{background-color: map-get($colores , yellow-2);}
      &[color=volcano]:hover{background-color: map-get($colores , volcano-2);}
      &[color=geekblue]:hover{background-color: map-get($colores , geekblue-2);}
      &[color=gold]:hover{background-color: map-get($colores , gold-2);}
      &[color=lime]:hover{background-color: map-get($colores , lime-2);}
      &[color=primary]:hover{background-color: map-get($colores , primary-2);}
     
      &[color=purple]:active{background-color: map-get($colores , purple-3);}
      &[color=cyan]:active{background-color: map-get($colores ,   cyan-3);}
      &[color=green]:active{background-color: map-get($colores , green-3);}
      &[color=magenta]:active{background-color: map-get($colores , magenta-3);}
      &[color=danger]:active{background-color: map-get($colores , red-3);}
      &[color=red]:active{background-color: map-get($colores , red-3);}
      &[color=pink]:active{background-color: map-get($colores , pink-3);}
      &[color=orange]:active{background-color: map-get($colores , orange-3);}
      &[color=yellow]:active{background-color: map-get($colores , yellow-3);}
      &[color=volcano]:active{background-color: map-get($colores , volcano-3);}
      &[color=geekblue]:active{background-color: map-get($colores , geekblue-3);}
      &[color=gold]:active{background-color: map-get($colores , gold-3);}
      &[color=lime]:active{background-color: map-get($colores , lime-3);}
      &[color=primary]:active{background-color: map-get($colores , primary-3);}
    }
    &[variant=text]{
      &:hover{
        background-color: map-get($colores , primary-1 );
      }
      &:active {
        background-color: map-get($colores , primary-4 );
      }
    }

    &:where([variant="text"],[variant="link"]){
      border-color: transparent !important;
    }
  }
}


a{ color: inherit;}
.user{
  min-height: 500vh;
  padding-top: calc(var(--header-height) + 40px);
}
body{
  width: 100svw;
  overflow-x: hidden;
}

// antd
.ant-form-item .ant-form-item-label >label{
  font-weight: 500;
}


// antd

.ant-input-affix-wrapper input{
  box-shadow: none;
}
.header-search-autoConplete{
  border-radius: 0 0 8px 8px;
}

// table
.ant-table-wrapper .ant-table{
  border: 1px solid #E9EAEB;
  border-radius: em(12);
  overflow: hidden;
}
.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  display: none;
}
.ant-pagination{
  margin-top: em(12, 14);
}
.ant-table-wrapper .ant-table {
  color: var(--color-tertiary);
}

//반응형
.pc-none{display: none;}

@media screen and (min-width: #{$pc-l}px), (min-width: px($pc-l, $default_fs)){
  // 1920 사이즈보다 클 경우 
}
@include media($pc-m){
  // 1440
}
@include media($pc-s){
  //1280
  :root{  --gap: #{em(96)};}
}
@include media($tab-l){
  //1024
  body:has(.act.menu){
    overflow: hidden;
  }
}
@include media($tab-m){
  //900

}
@include media($tab-s){
  //800
}
@include media($mo-l){
  //750
  [class |= ant]{
    font-size: clamp(11px, 2.2222222222222223vw, 14px);;
  }
}
@include media($mo-m){
  //540
}
@include media($mo-s){
  //375
}

