@charset "utf-8";
@use "sass:math";
@use "./function" as *; //함수

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'),
    url('#{$fontUrl}Pretendard-Black.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Black.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'),
    url('#{$fontUrl}Pretendard-ExtraBold.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-ExtraBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'),
    url('#{$fontUrl}Pretendard-Bold.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'),
    url('#{$fontUrl}Pretendard-SemiBold.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-SemiBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'),
    url('#{$fontUrl}Pretendard-Medium.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'),
    url('#{$fontUrl}Pretendard-Regular.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'),
    url('#{$fontUrl}Pretendard-Light.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'),
    url('#{$fontUrl}Pretendard-ExtraLight.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-ExtraLight.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'),
    url('#{$fontUrl}Pretendard-Thin.woff2') format('woff2'),
    url('#{$fontUrl}Pretendard-Thin.woff') format('woff');
  }
  

/* reset */
* {
    font-family: 'Pretendard', system-ui;
;
  }
  
  body,
  html {
    font-family: 'Pretendard','system-ui', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Helvetica Neue', 'Helvetica', 'Arial', 'apple color emoji', 'segoe ui emoji', 'noto color emoji', 'android emoji', 'emojisymbols', 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol', sans-serif;
  }
  
  /* reset */
  * {
    & {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      // word-break: keep-all;
    }
  
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  html {
    font-size:14px; 
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  body {
    font-size: 14px;
    -ms-overflow-style: none;
  
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: dsialiased;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
  }
  

  
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
    display: block;
  }
  

  
  fieldset,
  img {
    border: 0 none;
    vertical-align: middle
  }
  

  
  blockquote,
  q {
    quotes: none
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: none
  }
  
  input,
  select,
  textarea,
  button {
    font-size: 100%;
    vertical-align: middle
  }
  
  button,
  input[type='button'] {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0
  }
  
  input[type='text'],
  input[type='password'],
  input[type='submit'],
  input[type='search'],
  input[type='number'],
  input[type='tel'],
  input[type='email'],
  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #D5D7DA;
  }
  
  input:checked[type='checkbox'] {
    background-color: #B3B3B3;
    -webkit-appearance: checkbox;
    appearance: unset;
  }
  
  button,
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  input[type='file'] {
    -webkit-appearance: button;
    appearance: button;
    border-radius: 0
  }
  
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  var {
    font-style: normal
  }
  
  b,
  strong {
    font-weight: 700
  }
  
  i {
    font-style: normal;
  }
  
  textarea {
    border: 1px solid #CCCCCC;
    background: #fff;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    resize: none;
  }
  
  input[disabled] {
    opacity: .8;
    cursor: none;
  }
  
  input,
  progress {
    accent-color:var(--color-primary)
  }
  
  caption {
    display: none;
    font-size: 0;
  }
  
  //Firefox에서 내부 테두리와 패딩을 제거합니다.
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  [class*=" ant-input"]{
    box-shadow: 0px 1px 2px 0px #0A0D120D;
  }

  input,
  select,
  textarea,
  button,
  pre {
    color: var(--color-text-base);
  }
  a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  [type="search"] {
    & {
      -webkit-appearance: textfield;
      /* 1 */
      appearance: textfield;
      outline-offset: -2px;
      /* 2 */
    }
  
    // 맥OS에서 크롬과 사파리의 내부 패딩을 제거합니다.
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
  
  [hidden] {
    display: none;
  }
  
  // Chrome, Firefox 및 Opera에서 올바른 수직 정렬을 추가합니다.
  progress {
    & {
      vertical-align: baseline;
      border: 0;
      border-radius: 0;
    }
  
    &::-webkit-progress-bar,
    &::-moz-progress-bar {
      background-color: #ccc;
    }
  
    &::-webkit-progress-value {
      background-color: #000;
    }
  
    //파이어 폭스는 안됨(커스텀 필요)
  }
  
  ::placeholder {
    background-color: transparent;
    color:#ddd;
    vertical-align: middle;
    opacity: 1; // 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }
  
  details {
    display: block;
  }
  
  // Edge, IE 10+ 및 Firefox에서 올바른 디스플레이를 추가합니다.
  select {
  
    // Firefox,Safari and Chrome 화살표 없애기 공통
    & {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      background-image: none;
      border: 1px solid #ccc;
    }
  
    &::-ms-expand {
      display: none;
    }
  
    //IE10, IE11//숨겨진 화살표의 영역유지 X
  }
  
  //1. Chrome 57- 및 Firefox 39-의 하단 테두리를 제거합니다.
  //2. Chrome, Edge, IE, Opera, Safari에서 올바른 텍스트 장식을 추가합니다.
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }


  // 파이어 폭스에서 선이 더 굵게 나오는 현상 리셋
  hr {
    box-sizing: border-box;
    height: 1px;
    overflow: visible;
    border: 0 none;
    color:var(--color-text-base);
    background-color:var(--color-text-base);
  }
  
  dfn {
    font-style: italic;
  }
  
  audio,
  video {
  
    // IE 9-에서 올바른 디스플레이를 추가합니다.
    & {
      display: inline-block;
    }
  
    &:not([controls]) {
      display: none;
      height: 0;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-size: inherit
  }
  dl,ul,ol,menu,li {
    list-style: none;
    .ck-content & {
      list-style: revert !important;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    .ck-content & {
      font-size: revert  !important;
    }
  }

  // ck editor css 초기화
  .ck-content,.ck-reset{
    // 기존 설정 유지
    // all: initial;
    font-family: 'Pretendard', 'system-ui', sans-serif;
    // line-height: 1.6;
    // color: #222;
    // word-break: break-word;
    white-space: pre-wrap;
    // padding: 1rem;
  
    // 문단 정렬
    .text-left    { text-align: left; }
    .text-center  { text-align: center; }
    .text-right   { text-align: right; }
    .text-justify { text-align: justify; }
  
    // 굵게, 기울임, 밑줄, 취소선
    b, strong { font-weight: bold; }
    i, em     { font-style: italic; }
    u         { text-decoration: underline; }
    s, del    { text-decoration: line-through; }
  
    // 리스트
    ul {
      list-style: disc;
      margin: 0 0 1em 1.5em;
      padding-left: 1em;
    }
    ol {
      list-style: decimal;
      margin: 0 0 1em 1.5em;
      padding-left: 1em;
    }
    li {
      margin-bottom: 0.3em;
    }
  
    // 블록 인용
    blockquote {
      border-left: 4px solid #ccc;
      padding-left: 1em;
      color: #555;
      margin: 1em 0;
      font-style: italic;
    }
  
    // 테이블
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1.5em 0;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 0.5em;
      text-align: left;
    }
    th {
      background-color: #f9f9f9;
    }
  
    // 코드
    code {
      font-family: monospace;
      background: #f5f5f5;
      padding: 0.2em 0.4em;
      border-radius: 4px;
    }
    pre {
      font-family: monospace;
      background: #f5f5f5;
      padding: 1em;
      overflow-x: auto;
      border-radius: 4px;
      margin: 1em 0;
    }
  
    // 텍스트/배경 색상
    .text-color {
      &[style*="color"] {
        /* 인라인 style 지원 */
      }
    }
    .bg-color {
      &[style*="background-color"] {
        /* 인라인 style 지원 */
      }
    }
  
    // 하이라이트 (강조)
    mark {
      background-color: #ffff99;
      color: #000;
    }
  
    // 특수문자 (스타일 없음 - 단지 텍스트로 삽입됨)
  
    // 이미지
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 1em 0;
    }
  
    // 수직/수평 정렬용 클래스 (예: superscript, subscript)
    sub { vertical-align: sub; font-size: 75%; }
    sup { vertical-align: super; font-size: 75%; }
  
    // 기타 링크
    a {
      color: #007bff;
      text-decoration: underline;
      &:hover {
        color: #0056b3;
      }
    }
  
    
  }

  .ck.ck-toolbar{
    border-color: rgba(0, 0, 0, 0.06) !important;
  }