@use "sass:math";
@use "sass:meta";
@use './var'  as *;

@function line-height($line, $font) {
	@return math.div($line, $font);
}
@function em($font, $parents : 16) { 
	@return #{math.div($font, $parents)}em;
}
@function rem($font, $default: 1) { 
	@return #{math.div($font,$default)}rem;
}
@function vw($px,$width : 1280){
	@return #{math.div($px,$width)*100}vw;
}
@function vh($px,$width : 800){
	@return #{math.div($px,$width)*100}vh;
}
@function per($px,$size){
	@return #{math.div($px,$size)*100%};
}
@function color($colorName) {
	@return map-get($colores,$colorName);
}