@use "sass:math";
@use "sass:selector";
@use "sass:string";
@use "functions" as *;
@use "var" as *;


//@include gradation_color($colorBg1, $colorBg2,$colorBg3, $colorBg4, $deg : 90deg); -> 컬러 4개
//@include clearfix($type : null) -> @include clearfix('after') and @include clearfix;
//@include icon($icon) // 아이콘 @include icon('\e90c');
//@include ellip($line) -> ...표시 ellip(1 ~ 3 :라인수); 최대 3줄
//@include equal($size,$unit:null)


//↓↓↓↓↓↓↓↓↓ flex  사용 예시 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
//↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓



// @include flex-direction(row); //가로
// @include flex-direction(column); //세로 
// @include flex-direction(row-reverse); //새로 반대로
// @include flex-direction(column-reverse);//가로 반대로

// @include justify-content(flex-start); 
// @include justify-content(flex-end);
// @include justify-content(center);
// @include justify-content(space-between);

// @include align-items(flex-start);
// @include align-items(flex-end);
// @include align-items(center);
// @include align-items(stretch);
// @include align-items(baseline);

// @include flext (center, center)
// @include flex-center ("wrap"또는 nowrap);


// @include media(width) {내용 입력} --->  @media screen and (min-width: width px), (min-width: sizerem)

@mixin gradation_linear($colorBg1, $colorBg2,$colorBg3, $colorBg4, $deg : 90deg) {
  background: -moz-linear-gradient($deg, $colorBg1 0%, $colorBg2 33.33%, $colorBg3 67.19%, $colorBg4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient($deg, $colorBg1 0%,$colorBg2 33.33%,$colorBg3 67.19%,$colorBg4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient($deg,  $colorBg1 0%,$colorBg2 33.33%,$colorBg3 67.19%,$colorBg4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin clearfix($type : null) {
  @if $type == null {
    overflow: hidden;
  }
  @else if $type == "after"{
    &::after {
        display: block;
        content: "";
        clear: both;
    }
  }
}

@mixin ellip($line) {
	word-wrap:break-word;
	-webkit-box-orient:vertical;
	overflow: hidden;

  @if $line == 1{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @else if $line > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin equal($size,$unit:null){
  @if $unit {
    width:  em($size,$unit);
    height: em($size,$unit);
  }
  @else{
    width:  rem($size);
    height: rem($size);
  }
}



@mixin flex-direction ($value) {
  @if $value == 'column'{
      -webkit-box-orient:vertical;
      -ms-flex-direction:column;
      flex-direction:column;
  }
  @else if $value == 'row-reverse'{
      -webkit-box-orient:horizontal;
      -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
      flex-direction:row-reverse;
  }
  @else if $value == 'column-reverse'{
      -webkit-box-orient:vertical;
      -webkit-box-direction:reverse;
      -ms-flex-direction:column-reverse;
      flex-direction:column-reverse;
  }
  @else if $value == 'row'{
      -webkit-box-orient:horizontal;
      -ms-flex-direction:row;
      flex-direction:row;
  }
}
//flex 세로
@mixin justify-content ($value) {
  @if $value == 'flex-start'{
      -ms-flex-pack:start;
      justify-content:flex-start;
  }

  @else if $value == 'flex-end'{
      -ms-flex-pack:end;
      justify-content:flex-end;
  }

  @else if $value == 'center'{
      -ms-flex-pack:center;
      justify-content:center;
  }

  @else if $value == 'space-between'{
      -ms-flex-pack:space-between;
      justify-content:space-between;
  }
}
//flex 가로
@mixin align-items ($value) {
  @if $value == 'flex-start'{
      -webkit-box-align:start;
      -ms-flex-align:start;
      align-items:flex-start;
  }
  @else if $value == 'flex-end'{
      -webkit-box-align:end;
      -ms-flex-align:end;
      align-items:flex-end;
  }
  @else if $value == 'center'{
      -webkit-box-align:center;
      -ms-flex-align:center;
      align-items:center;
  }
  @else if $value == 'stretch'{
      -webkit-box-align:stretch;
      -ms-flex-align:stretch;
      align-items:stretch;
  }
  @else if $value == 'baseline'{
      -webkit-box-align:baseline;
      -ms-flex-align:baseline;
      align-items: baseline;
  }
}

// flex center center
@mixin flex-center ($inline :'flex',$wrap : 'nowrap') {
  @if $inline == 'inline'{  display: inline-flex; }
  @else { display: flex;}
  
  @if $wrap == 'nowrap'{
    @include justify-content(center);
    @include align-items(center);
  }
  @else if $wrap  == 'wrap'{
    flex-wrap: wrap; 
    @include justify-content(center);
    @include align-items(center);
  }

}

@mixin textHide{
  position: absolute;
	z-index: -1;
	line-height: 1 !important;
	font-size: 1px !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	background: transparent !important;
	overflow: hidden !important;
	font-size: 1px;
	text-indent: -99999px;
	opacity: 0.05 !important;
	&:before, &:after {
	display: none !important;
	}
}


@mixin media($width) {
  @media screen and (max-width: #{$width}px), (max-width: rem($width, $default_fs)){
    @content;
  }
} 