<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<meta charset="UTF-8">
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="padding: 32px;width: 640px;">
        <tr>
            <td>
                <img src="" />
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${header}" style="font-size: 14px;font-weight: 400; line-height: 20px;color: #181D27;">
                    회원님의 정보는 아래와같습니다.
                </p>
                <p th:text="${id}" style="font-size: 36px;font-weight: 600; line-height: 44px;letter-spacing: -2%; color: #BB3A0B;"></p>
                <a th:href="@{${url}}" target="_blank" style="display: block;width: 165px;height: 44px; line-height: 44px; text-align: center;border-radius: 8px;
                background-color: #E96827; color: #fff; font-size: 16px; font-weight: 500;  text-decoration: none;
                " th:text="${titNm}"> 로그인 화면으로 가기</a><br />
                <p th:text="${expiration}" style="font-size: 14px;font-weight: 400;line-height: 20px;letter-spacing: -2%;padding-bottom: 24px;color: #181D27;">
                    감사합니다.
                </p>
            
                <p style="font-size: 14px;font-weight: 400;line-height: 20px;letter-spacing: -2%; color: #535862;">
                    이 이메일은 sqntxcrm@gmail.com 으로 전송되었습니다. 이러한 종류의 이메일을 수신하지 않으려면 <br />수신을 거부하거나 이메일 환경설정을 관리할 수 있습니다.
                </p>
                <p style="font-size: 14px;font-weight: 400;line-height: 20px;letter-spacing: -2%; padding-top: 20px;color: #535862;">
                    © 2025 Elorien
                </p>
            </td>
        </tr>
    </table>
</body>
</html>